@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&family=RocknRoll+One&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(55, 65, 81) !important;
}
.fontRockNRoll {
  font-family: "RocknRoll One", sans-serif !important;
  text-shadow: 2px 2px 3px rgb(149, 128, 106);
}
